button{
  border: none;
}

.dropdown-menu a {
  display: block;
}

.dropdown-menu {
    min-width: 180px;
    list-style: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
}

.black-bg{
  background: rgb(34, 34, 34);
}

.header-style-1 .header-bottom .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li {
  /* display: inline-block; */
}

.btn-sm,
.btn-group-sm > .btn{
  padding: .25rem .5rem;
  font-size: 13px !important;
  line-height: 1.5;
  border-radius: .2rem;
}

.area-title{
  text-align: center;
  margin: auto;
}

.area-title h2{
  padding-bottom: 10px;
}

.area-title.sub-text h2{
  padding-bottom: 30px;
}

.area-title.sub-text p{
  position: relative;
  top: -55px;
}

.btn-submobile:before {
  content: "\f0fe";
  /* content: "\f146"; */
}

.btn-submobile.active:before {
  content: "\f146" !important;
}

.button-mobile.active {
  display: none;
}

.button-mobile.active:before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10010;
}

.nicescroll-rails {
  /* z-index: 10000 !important; */
}

.sm_megamenu_title {
  font-weight: bold;
}

.sm-megamenu-child {
  /* margin-left: 17px !important; */
}

.header-container .navigation-mobile .sm_megamenu_menu > li .sm-megamenu-child {
  display: block;
}

form input[type="checkbox"] {
  width: auto;
  height: auto;
  padding-left: auto;
  margin-bottom: auto;
  font-size: inherit;
  border: none;
  outline: none;
  box-shadow: none;
}

.help-block {
  /* line-height: normal; */
  /* position: relative; */
  /* top: -15px; */
  /* font-weight: bold; */
  display: block;
  /* background: #ff0; */
}

hr {
  height: 2px;
  background: #ddd;
  border: none;
}

@media screen and (min-width: 1200px) {
  .header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .field.searchbox {
      width: 400px;
  }

  .header-bottom-2 .sidebar-megamenu {
      max-width: 25% !important;
      flex: 0 0 25% !important;
  }

  .header-bottom-2 .main-megamenu {
      max-width: 75% !important;
      flex: 0 0 75% !important;
  }
}

@media screen and (max-width: 1199px) {
  .header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .field.searchbox {
      width: 330px;
  }

  .header-bottom-2 .sidebar-megamenu {
      max-width: 20% !important;
      flex: 0 0 20% !important;
  }

  .header-bottom-2 .main-megamenu {
      max-width: 80% !important;
      flex: 0 0 80% !important;
  }
}

@media screen and (min-width: 992px) {
  .header-style-1 .header-middle {
      padding: 10px 0px;
  }

  .posla-header-links {
      float: right;
  }

  .searchbox-header {
      float: left;
  }
}

@media screen and (max-width: 991px) {
  .header-style-1 > .header-bottom-2 {
      display: none;
  }

  .header-style-1 .header-middle {
      padding: 10px 0px 0px;
  }

  .header-style-1 .header-middle .middle-right-content .searchbox-header {
      padding-right: 0px;
  }

  .header-style-1 .header-middle .middle-right-content {
      left: 5px;
      bottom: -45px;
      /* bottom: 0px; */
      right: 5px;
  }

  .header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .field.searchbox {
      width: 100%;
  }

  .header-middle-right {
      margin-right: 10px;
  }

  .searchbox-header {
      margin: 0px 0px;
      /* margin-top: 15px; */
  }

  .posla-header-links {
      position: absolute;
      top: -55px;
      right: 10px;
      /* float: right; */
  }

  .ptb-mobile-30 {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
  }

  .ptb-mobile-40 {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
  }
}

@media screen and (max-width: 767px) {
  .header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat {
      /* border: none; */
  }
}

@media screen and (min-width: 576px) {
  .posla-header-links > div > a > div:nth-child(1) {
      display: none;
  }

  .header-hide-mobile {
      display: block;
  }

  .header-show-mobile {
      display: none;
  }

  .posla-header-links > div > a > div:nth-child(2) {
      display: block;
  }

  .posla-header-links > div{
      /* background: #f00; */
  }

  .posla-header-links > div > a {
      /* margin-left: 25px; */
      margin-left: 20px;
      /* background: #ff0; */
  }

  .posla-header-links > div:first-child > a{
      margin-left: 0px;
  }

  .posla-logo {
      margin-top: 3px;
  }

  .posla-logo > img {
      /* width: 40px; */
      height: 40px;
  }

  .posla-logo > div > div:first-child {
      font-size: 30px;
  }

  .posla-logo > div > div:nth-child(2) {
      font-size: 10px;
      margin: -10px 0px 0px;
  }

  .header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat {
      width: 120px;
      padding: 0px 0px 0px 10px;
  }

  .header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox {
      /* padding-left: 125px; */
  }
}

@media screen and (max-width: 575px) {
  .posla-header-links > div > a > div:nth-child(1) {
      display: block;
  }

  .posla-header-links > div > a > div:nth-child(1) > *{
    position: relative;
    top: 5px;
  }

  .header-hide-mobile {
      display: none;
  }

  .header-show-mobile {
      display: block;
  }

  .posla-header-links > div > a > div:nth-child(2) {
      display: none;
  }

  .posla-header-links > div > a {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-top: 8px;
      margin-left: 10px;
      /* background: #000; */
  }

  .posla-header-links > div > a:hover {
      background: #eee;
  }

  .posla-header-links > div > a > div:nth-child(1) {
      width: 100%;
      height: 100%;
      line-height: 100%;
      text-align: center;
  }

  .posla-header-links > div > a > div:nth-child(1) > span {
      font-size: 20px;
      /* font-size: 25px; */
      margin-top: 5px;
      /* margin-right: 5px; */
  }

  .posla-header-links {
      margin-top: 5px;
  }

  .posla-logo {
      margin-top: -3px;
  }

  .posla-logo > img {
      /* width: 30px; */
      height: 30px;
  }

  .posla-logo > div > div:first-child {
      font-size: 25px;
  }

  .posla-logo > div > div:nth-child(2) {
      font-size: 8px;
      /* margin: -8px 0px 0px; */
      /* display: none; */
  }

  .header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat {
      display: none;
  }

  .header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox {
      padding-left: 10px;
  }
}

.header-top {
  height: 25px !important;
  background: #eee;
}

header {
  /* height: 90px; */
  position: relative;
  z-index: 30;
  background: #fff;
  /* border-top: 2px solid #FF940A; */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.header-style-1 .header-middle .middle-right-content .searchbox-header {
  width: auto;
}

.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control #searchbox {
  padding-left: 10px;
  background: #eee;
  border: none;
}

.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .actions .btn-searchbox {
  background: #FF940A;
}

.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat {
  border: none;
}

.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat:active,
.header-style-1 .header-middle .middle-right-content .sm-searchbox .sm-searchbox-content .control .searchbox-cat:focus {
  border-color: #ddd !important;
}

.header-style-1 .header-middle .middle-right-content .minicart-header .minicart-content .cart-wrapper .minicart-wrapper .showcart:before {
  /* display: none; */
}

.header-bottom-2 .sidebar-megamenu {
  /* max-width: 20% !important; */
  /* flex: 0 0 20% !important; */
  /* flex: 0 0 0 !important; */
  /* min-width: none !important; */
  /* max-width: none !important; */
  /* max-width: none !important; */
  /* background: #ff0; */
}

.header-bottom-2 .sidebar-megamenu .megamenu-content-sidebar a {
  cursor: pointer;
}

.header-bottom-2 .main-megamenu {
  /* max-width: 80% !important; */
  /* flex: 0 0 80% !important; */
  /* background: #f00; */
  /* width: 700px; */
  /* padding-left: 15px; */
}

.header-style-1 .header-bottom .sm_megamenu_wrapper_horizontal_menu {
  margin-left: 0px;
}

.sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_1column, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_2columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_3columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_4columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_5columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_6columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_1column, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_2columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_3columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_4columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_5columns, .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_6columns {
  padding: 15px 10px !important;
}

.header-bottom-2 .megamenu-content-sidebar .btn-megamenu a {
  font-size: 14px !important;
  font-weight: normal !important;
  text-decoration: none !important;
}

.header-bottom-2 .sm_megamenu_wrapper_horizontal_menu li a .sm_megamenu_title {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  /* text-transform: none; */
}

.header-bottom-2 .sm_megamenu_wrapper_horizontal_menu li:hover a .sm_megamenu_title {
  color: #555;
}

.sm_megamenu_wrapper_vertical_menu .sambar-inner {
  padding-top: 0px;
}

.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li {
  border: none !important;
}

.sm_megamenu_head_item .sm_megamenu_title a:hover,
.sm_megamenu_head_item .sm_megamenu_title a:hover * {
  color: #FF940A;
}

.sm-searchbox {
  /* background: #f00; */
}

.sm-searchbox-popular {
  /* width: 400px; */
  width: 280px;
  padding: 0px;
  margin-left: 120px;
  position: absolute;
  top: 45px;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  display: block;
}

.sm-searchbox-popular .sm-searchbox-keyword-list li {
  margin-right: 0px !important;
  float: none !important;
  display: block;
}

.sm-searchbox-popular .sm-searchbox-keyword ul li:after {
  content: "";
}

.sm-searchbox-popular .sm-searchbox-keyword-list li a {
  padding: 1px 10px;
  font-size: 14px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sm-searchbox-popular .sm-searchbox-keyword-list li a:hover {
  font-weight: bold;
}

.sm-searchbox-popular .sm-searchbox-keyword-list li:last-child a {
  border-bottom: none;
}

.minicart-wrapper .action.showcart .counter.qty.empty {
  display: inline;
}

.middle-right-content {
  width: 100%;
}

.posla-header-links {
  /* width: 300px; */
  /* height: 50px; */
  text-align: right;
  display: inline-block;
  /* background: #0f0; */
}

.posla-header-links .dropdown:hover > .dropdown-menu {
  display: inline-block;
}

.posla-header-links .dropdown-menu {
  /* padding-top: 50px; */
  margin-top: 0px;
  /* float: left; */
}

.posla-header-links .dropdown-toggle {
  /* padding-bottom: 5px; */
}

.dropdown-menu {
  border: none;
  /* border-bottom-left-radius: 5px; */
  /* border-bottom-right-radius: 5px; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu-orange-top {
  border-top: 2px solid #FF940A;
}

.dropdown-menu .dropdown-divider {
  border-width: 2px;
}

.dropdown-menu a {
  /* font-size: 14px; */
  /* font-weight: bold; */
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
  /* padding: 7px 20px; */
  /* border-bottom: 1px solid #eee; */
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  color: #333 !important;
  background: #ddd !important;
}

.posla-header-links > div {
  float: left;
}

.posla-header-links .dropdown-toggle:after {
  display: none;
  /* vertical-align: -1em; */
}

.posla-header-links > div > a {
  /* float: left; */
  /* background: #f00; */
  /* margin-left: 25px; */
  text-align: left;
  display: inline-block;
}

.posla-header-links > div > a > div {
  float: left;
  /* text-align: center; */
}

.posla-header-links > div > a > div:nth-child(1) {
  /* display: none; */
  text-align: center;
}

/*
.posla-header-links > div > a > div:nth-child(1) > span{
  font-size: 30px;
  margin-top: 5px;
  margin-right: 5px;
}
*/

.posla-header-links > div > a > div:nth-child(2) {
  max-width: 88px;
  line-height: 17px;
  margin-top: 3px;
  margin-right: 5px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden; */
}

.posla-header-links > div > a > div:nth-child(2) > .badge {
  position: relative;
  top: -20px;
  left: -10px;
}

.posla-header-links > div > a > div:nth-child(2) i {
  font-style: normal;
  font-weight: bold;
}

.posla-header-links > div > a > div:nth-child(3) {
  /* margin-top: 20px; */
}

.posla-logo {
  /* width: 200px; */
  /* background: #ff0; */
  /* margin-top: 3px; */
  text-decoration: none !important;
  display: inline-block;
}

.posla-logo > img {
  /* width: 40px; */
  /* height: 40px; */
  float: left;
  margin-right: 10px;
}

.posla-logo > div {
  /* width: 100px; */
  /* height: auto; */
  /* background: #0ff; */
  /* display: block; */
  margin-top: 2px;
  overflow: hidden;
  display: none;
}

.posla-logo > div > div:first-child {
  /* font-size: 30px; */
  font-weight: bold;
  margin: -2px 0px 0px;
  /* font-family: "Raleway", "Myriad Pro","Source Sans Pro","Lato"; */
}

.posla-logo > div > div:nth-child(2) {
  /* margin: -10px 0px 0px; */
  color: #bbb;
  /* font-size: 10px; */
  font-weight: bold;
  /* font-family: "Raleway", "Myriad Pro","Source Sans Pro","Lato"; */
  text-transform: uppercase;
  display: none;
}

#scrollUp {
  display: none !important;
}

.bg-eee {
  background: #eee;
}

.pattern-2 {
  background-image: url('../img/app/bgs/pattern/2.png') !important;
}

.pattern-7,
.pattern-2-deeper {
  background-image: url('../img/app/bgs/pattern/7.png') !important;
}

.pattern-19 {
  background-image: url('../img/app/bgs/pattern/19.png') !important;
}

.home-product-sliders > .product-area:nth-child(even){
  background-image: url('../img/app/bgs/pattern/19.png') !important;
}

main {
  min-height: 500px;
}

@media screen and (min-width: 771px) {
  .account-content {
      margin-top: 50px;
      margin-bottom: 50px;
  }
}

@media screen and (max-width: 770px) {
  .account-content {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .account-content .sidebar {
      display: none;
  }

  .account-content .account-layout .account-head {
      border-top: none;
  }
}

@media screen and (min-width: 576px) {
  .account-content .account-layout .account-table-content table tbody tr {
      min-height: 50px;
      height: auto;
      /* display: block; */
  }

  .account-content .account-layout .account-table-content table tbody tr td {
      /* display: inline-block; */
  }
}

@media screen and (max-width: 576px) {
  .account-table-content table tbody tr td {
      width: 100%;
  }

  .account-content .account-layout .account-table-content table tbody tr {
      min-height: 70px;
      display: block;
      border-bottom: 1px solid #eee;
  }

  .account-content .account-layout .account-table-content table tbody tr td {
      display: block;
  }

  .account-content .account-layout .account-table-content table tbody tr td:first-child {
      padding-bottom: 0px;
  }
}

.account-content .account-layout .account-table-content table tbody tr {
  height: auto;
}

table.td-first-bold tbody tr td:first-child {
  font-weight: bold !important;
}

.account-content .account-layout {
  margin-top: 0px;
}

.account-content .user-info {
  margin-bottom: 20px;
  text-align: center;
}

.account-content .user-info > div:first-child {
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: auto;
  text-align: center;
  background: #eee;
  border-radius: 5px;
}

.account-content .user-info > div:first-child > span {
  line-height: 120px;
  font-size: 80px;
  color: #333;
}

.account-content .user-info > div:nth-child(2) {
  padding: 0px 10px;
  margin-top: 10px;
  color: #FF940A;
  font-weight: 700;
  /* background: #ff0; */
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.account-content .account-head .account-heading {
  /*color: #FF940A;*/
  font-weight: bold;
}

.account-content .account-layout .account-items-list .dashboard-stats{
  grid-template-columns: auto;
}

.horizontal-rule {
  height: 2px;
  background: #eee;
}

.account-content .account-head .horizontal-rule {
  height: 2px;
  background: #FF940A;
}

.account-content .menu-block .menu-block-title {
  /*text-align: center;*/
  /*font-size: 14px;*/
  /*color: #aaa;*/
  font-size: 15px;
  font-weight: bold;
  /*font-style: italic;*/
  border-bottom: 2px solid #FF940A;
  /*display: none;*/
}

.account-content .menu-block .menubar {
  border: none;
}

.account-content .menu-block .menubar li.menu-item {
  width: 100%;
  height: auto;
  /*min-height: 25px;*/
  padding: 0px;
  margin-left: 0;
  border: none;
  border-bottom: 1px solid #eee;
}

.account-content .menu-block .menubar li.menu-item a {
  color: inherit;
  padding: 10px;
}

.account-content .menu-block .menubar li.menu-item.active a,
.account-content .menu-block .menubar li.menu-item a:hover {
  background: #eee;
}

.account-content .menu-block .menubar li.menu-item a span {
  width: 20px;
  margin-left: 5px;
}

.account-head .account-action{
  top: 0px !important;
}

.edit-form {
  border: none;
  padding: 10px 20px;
  /*display: block;*/
}

.address-card {
  /*box-shadow: 0px 5px 10px rgba(0,0,0,0.2);*/
}

.address-card > .details > span.bold {
  border-bottom: 1px solid #ddd;
  display: block;
  /*background: #f00;*/
}

.address-card .details span {
  display: inline-block;
}

.address-card-list li {
  min-height: 20px;
  display: block;
  /*background: #ff0;*/
  overflow: hidden;
}

.address-card-list li > span:nth-child(1) {
  /*line-height: 20px;*/
  color: #aaa;
  margin-top: 6px;
  margin-right: 10px;
  font-size: 10px;
  display: inline-block;
  float: left;
}

.address-card-list li > span:nth-child(2) {
  display: block;
  overflow: auto;
  /*background: #f00;*/
}

.area-title-sub > h2 {
  padding-bottom: 5px !important;
}

.area-title-sub > h2 > div {
  font-size: 15px;
  margin: -10px 0px 0px !important;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .custom-select.is-invalid {
  border-color: #f00;
}

.invalid-feedback {
  margin-top: -20px !important;
}

.invalid-feedback > strong {
  font-size: 13px !important;
  color: #f00 !important;
}

.product-wrapper {
  /* border: 5px solid #f00; */
  display: block;
}

a:hover .product-img {
  /* background: #f00 !important; */
}

.product-img {
  height: 150px;
  text-align: center;
}

.product-img > div:nth-child(1) {
  /* height: 100%; */
  height: 150px;
  /* line-height: 100%; */
  line-height: 150px;
  text-align: center;
  background: #fff;
  /* background: #000; */
}

.product-img > div:nth-child(1) > img {
  width: auto;
  height: auto;
  margin: auto;
  vertical-align: middle;
  /* display: none; */
}

.furniture-thumb > a:before {
  background: transparent;
}

.sale-tag span::before {
  border-color: transparent transparent transparent rgba(255, 255, 255, 1);
  /* border-color: transparent transparent transparent transparent; */
}

.shop-sidebar .cat li {
  margin-bottom: 8px !important;
  padding-bottom: 8px !important;
}

.shop-sidebar .cat li a {
  /* background: #f00; */
  display: block;
}

.shop-sidebar .tag a {
  font-size: 12px;
  padding: 2px 7px;
}

.sidebar-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.sidebar-title::before {
  height: 3px;
  background: #FF940A none repeat scroll 0 0;
}

.row .product-content {
  /* height: 60px; */
  text-align: center;
  /* background: #f00; */
}

.pro-list {
  /* margin-top: 0px !important; */
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.pro-list .product-content {
  height: auto;
  text-align: left;
  /* background: #ff0; */
}

.product-content h6,
.product-content h6 a {
  color: inherit;
  height: 25px;
  font-weight: bold;
  /* background: #ff0; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shop-pagination {
  padding-top: 30px;
  border-top: 1px solid #eee;
}

.products-carousel-bottom {
  padding: 50px 0px;
  border-top: 1px solid #eee;
}

.pagination {
  text-align: center;
  /* display: inline-block; */
  /* margin: auto; */
}

.pagination li {
  display: inline-block;
}

footer {
  /* height: 300px; */
  /* color: #bbb; */
  /* background: #333; */
}

footer .contact-list p {
  /* position: relative; */
  /* top: 4px; */
  /* background: #f00 !important; */
}

footer .contact-list p a {
  /* color: inherit; */
}

.footer-link a > i,
.footer-link a > span {
  width: 20px;
  margin-top: -3px;
  margin-right: 2px;
  text-align: center;
}

.footer-link a:hover,
.footer-link a:hover * {
  color: #fff;
}

.footer-newsletter {
  margin-top: 10px;
}

.footer-newsletter input {
  color: #878787 !important;
  background: #222 !important;
  border: 2px solid #666666;
  border-right-color: #FF940A;
}

.footer-newsletter button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.instagram-list a {
  width: 80px;
  height: 80px;
  background: #000;
  display: block;
  overflow: hidden;
}

footer .footer-widget h3 {
  color: #FF940A;
  font-weight: bold;
}

/* bootstrap extras */

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.visible-xs {
  display: none !important;
}

tr.visible-xs {
  display: none !important;
}

th.visible-xs,
td.visible-xs {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
      display: block !important;
  }

  tr.visible-xs {
      display: table-row !important;
  }

  th.visible-xs,
  td.visible-xs {
      display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-xs.visible-sm {
      display: block !important;
  }

  tr.visible-xs.visible-sm {
      display: table-row !important;
  }

  th.visible-xs.visible-sm,
  td.visible-xs.visible-sm {
      display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-xs.visible-md {
      display: block !important;
  }

  tr.visible-xs.visible-md {
      display: table-row !important;
  }

  th.visible-xs.visible-md,
  td.visible-xs.visible-md {
      display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-xs.visible-lg {
      display: block !important;
  }

  tr.visible-xs.visible-lg {
      display: table-row !important;
  }

  th.visible-xs.visible-lg,
  td.visible-xs.visible-lg {
      display: table-cell !important;
  }
}

.visible-sm {
  display: none !important;
}

tr.visible-sm {
  display: none !important;
}

th.visible-sm,
td.visible-sm {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-sm.visible-xs {
      display: block !important;
  }

  tr.visible-sm.visible-xs {
      display: table-row !important;
  }

  th.visible-sm.visible-xs,
  td.visible-sm.visible-xs {
      display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
      display: block !important;
  }

  tr.visible-sm {
      display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
      display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-sm.visible-md {
      display: block !important;
  }

  tr.visible-sm.visible-md {
      display: table-row !important;
  }

  th.visible-sm.visible-md,
  td.visible-sm.visible-md {
      display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-sm.visible-lg {
      display: block !important;
  }

  tr.visible-sm.visible-lg {
      display: table-row !important;
  }

  th.visible-sm.visible-lg,
  td.visible-sm.visible-lg {
      display: table-cell !important;
  }
}

.visible-md {
  display: none !important;
}

tr.visible-md {
  display: none !important;
}

th.visible-md,
td.visible-md {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-md.visible-xs {
      display: block !important;
  }

  tr.visible-md.visible-xs {
      display: table-row !important;
  }

  th.visible-md.visible-xs,
  td.visible-md.visible-xs {
      display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md.visible-sm {
      display: block !important;
  }

  tr.visible-md.visible-sm {
      display: table-row !important;
  }

  th.visible-md.visible-sm,
  td.visible-md.visible-sm {
      display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
      display: block !important;
  }

  tr.visible-md {
      display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
      display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-md.visible-lg {
      display: block !important;
  }

  tr.visible-md.visible-lg {
      display: table-row !important;
  }

  th.visible-md.visible-lg,
  td.visible-md.visible-lg {
      display: table-cell !important;
  }
}

.visible-lg {
  display: none !important;
}

tr.visible-lg {
  display: none !important;
}

th.visible-lg,
td.visible-lg {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-lg.visible-xs {
      display: block !important;
  }

  tr.visible-lg.visible-xs {
      display: table-row !important;
  }

  th.visible-lg.visible-xs,
  td.visible-lg.visible-xs {
      display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-lg.visible-sm {
      display: block !important;
  }

  tr.visible-lg.visible-sm {
      display: table-row !important;
  }

  th.visible-lg.visible-sm,
  td.visible-lg.visible-sm {
      display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-lg.visible-md {
      display: block !important;
  }

  tr.visible-lg.visible-md {
      display: table-row !important;
  }

  th.visible-lg.visible-md,
  td.visible-lg.visible-md {
      display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
      display: block !important;
  }

  tr.visible-lg {
      display: table-row !important;
  }

  th.visible-lg,
  td.visible-lg {
      display: table-cell !important;
  }
}

@media (min-width: 768px) {
  .hidden-xs {
    display: block !important;
  }

  .btn .hidden-xs {
    display: inline-block !important;
  }

  tr.hidden-xs {
    display: table-row !important;
  }

  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
      display: none !important;
  }

  tr.hidden-xs {
      display: none !important;
  }

  th.hidden-xs,
  td.hidden-xs {
      display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-xs.hidden-sm {
      display: none !important;
  }

  tr.hidden-xs.hidden-sm {
      display: none !important;
  }

  th.hidden-xs.hidden-sm,
  td.hidden-xs.hidden-sm {
      display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-xs.hidden-md {
      display: none !important;
  }

  tr.hidden-xs.hidden-md {
      display: none !important;
  }

  th.hidden-xs.hidden-md,
  td.hidden-xs.hidden-md {
      display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xs.hidden-lg {
      display: none !important;
  }

  tr.hidden-xs.hidden-lg {
      display: none !important;
  }

  th.hidden-xs.hidden-lg,
  td.hidden-xs.hidden-lg {
      display: none !important;
  }
}

.hidden-sm {
  display: block !important;
}

.btn .hidden-sm {
  display: inline-block !important;
}

tr.hidden-sm {
  display: table-row !important;
}

th.hidden-sm,
td.hidden-sm {
  display: table-cell !important;
}

@media (max-width: 767px) {
  .hidden-sm.hidden-xs {
      display: none !important;
  }

  tr.hidden-sm.hidden-xs {
      display: none !important;
  }

  th.hidden-sm.hidden-xs,
  td.hidden-sm.hidden-xs {
      display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
      display: none !important;
  }

  tr.hidden-sm {
      display: none !important;
  }

  th.hidden-sm,
  td.hidden-sm {
      display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-sm.hidden-md {
      display: none !important;
  }

  tr.hidden-sm.hidden-md {
      display: none !important;
  }

  th.hidden-sm.hidden-md,
  td.hidden-sm.hidden-md {
      display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-sm.hidden-lg {
      display: none !important;
  }

  tr.hidden-sm.hidden-lg {
      display: none !important;
  }

  th.hidden-sm.hidden-lg,
  td.hidden-sm.hidden-lg {
      display: none !important;
  }
}

.hidden-md {
  display: block !important;
}

.btn .hidden-md {
  display: inline-block !important;
}

tr.hidden-md {
  display: table-row !important;
}

th.hidden-md,
td.hidden-md {
  display: table-cell !important;
}

@media (max-width: 767px) {
  .hidden-md.hidden-xs {
      display: none !important;
  }

  tr.hidden-md.hidden-xs {
      display: none !important;
  }

  th.hidden-md.hidden-xs,
  td.hidden-md.hidden-xs {
      display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md.hidden-sm {
      display: none !important;
  }

  tr.hidden-md.hidden-sm {
      display: none !important;
  }

  th.hidden-md.hidden-sm,
  td.hidden-md.hidden-sm {
      display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
      display: none !important;
  }

  tr.hidden-md {
      display: none !important;
  }

  th.hidden-md,
  td.hidden-md {
      display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-md.hidden-lg {
      display: none !important;
  }

  tr.hidden-md.hidden-lg {
      display: none !important;
  }

  th.hidden-md.hidden-lg,
  td.hidden-md.hidden-lg {
      display: none !important;
  }
}

.hidden-lg {
  display: block !important;
}

.btn .hidden-lg {
  display: inline-block !important;
}

tr.hidden-lg {
  display: table-row !important;
}

th.hidden-lg,
td.hidden-lg {
  display: table-cell !important;
}

@media (max-width: 767px) {
  .hidden-lg.hidden-xs {
      display: none !important;
  }

  tr.hidden-lg.hidden-xs {
      display: none !important;
  }

  th.hidden-lg.hidden-xs,
  td.hidden-lg.hidden-xs {
      display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-lg.hidden-sm {
      display: none !important;
  }

  tr.hidden-lg.hidden-sm {
      display: none !important;
  }

  th.hidden-lg.hidden-sm,
  td.hidden-lg.hidden-sm {
      display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg.hidden-md {
      display: none !important;
  }

  tr.hidden-lg.hidden-md {
      display: none !important;
  }

  th.hidden-lg.hidden-md,
  td.hidden-lg.hidden-md {
      display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
      display: none !important;
  }

  tr.hidden-lg {
      display: none !important;
  }

  th.hidden-lg,
  td.hidden-lg {
      display: none !important;
  }
}

.visible-print {
  display: none !important;
}

tr.visible-print {
  display: none !important;
}

th.visible-print,
td.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
      display: block !important;
  }

  tr.visible-print {
      display: table-row !important;
  }

  th.visible-print,
  td.visible-print {
      display: table-cell !important;
  }

  .hidden-print {
      display: none !important;
  }

  tr.hidden-print {
      display: none !important;
  }

  th.hidden-print,
  td.hidden-print {
      display: none !important;
  }
}

/* end of bootstrap extras */

/* overwriting default bagistos */
.main-container-wrapper {
  max-width: 100% !important;
  padding: 0px !important;
}

.product-area {
  min-height: 200px;
}

.pro-item .product-content {
  /* background: red; */
  padding-top: 5px;
}

.pro-item .product-content h4 {
  /* background: #ff0; */
  /* max-height: 42px; */
  line-height: 17px;
  overflow: hidden;
}

.sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_1column, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_2columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_3columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_4columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_5columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li:hover .sm_megamenu_dropdown_6columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_1column, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_2columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_3columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_4columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open.sm_megamenu_dropdown_5columns, .sm_megamenu_wrapper_vertical_menu .sm_megamenu_menu li.other-toggle.open .sm_megamenu_dropdown_6columns {
  margin-left: 0px !important;
}

.navigation-megamenu-wrapper .sm-megamenu-child {
  left: 0px;
  /* box-shadow: 0px 5px 20px rgba(0,0,0,0.3); */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.home-slide {
  /* height: 280px; */
  float: left;
  background: #000;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .home-slide {
      width: 570px;
      height: 280px;
  }
}

@media screen and (max-width: 1199px) {
  .home-slide {
      width: 650px;
      height: 280px;
  }
}

@media screen and (max-width: 991px) {
  .home-slide {
      width: 100%;
      height: auto;
  }
}

@media screen and (min-width: 576px) {
  .div-pic-left-text-right > div:first-child {
      margin-right: 20px;
  }
}

@media screen and (max-width: 575px) {
  .div-pic-left-text-right > div:first-child {
      margin-right: 15px;
  }
}

.div-pic-left-text-right:after {
  display: block;
  content: "";
  clear: both;
}

.div-pic-left-text-right > div:first-child {
  margin-top: 5px;
  /* margin-right: 20px; */
  float: left;
}

.div-pic-left-text-right > div:nth-child(2) {
  overflow: hidden;
}

.container-filters {
  padding: 0px 10px !important;
  background: #eee !important;
  overflow: hidden;
}

.container-filters > ul {
  margin: 20px 0px !important;
}

@media screen and (min-width: 576px) {
  .container-filters li {
      width: 50%;
      float: left;
  }
}

@media screen and (max-width: 575px) {
  .container-filters li {
      width: 100%;
      float: none;
  }
}

.container-filters li {
  /* width: 50%; */
  margin: 0px 0px 20px;
  /* float: left; */
}

.container-filters li .control-group {
  margin: 0px 10px 0px !important;
}

.container-filters li .control-group select {
  margin-bottom: 0px !important;
}

.container-filters button {
  /* width: 50%; */
  clear: both;
  float: none;
}

th {
  font-weight: bold;
}

th.grid_head {
  cursor: pointer;
}

th.grid_head:hover {
  background: #eee;
}

.filter-tag {
  padding: 5px 0px;
  /* font-weight: bold; */
  text-align: center;
  background: #eee;
}

.filter-tag .fa-times {
  /* color: #f00; */
  cursor: pointer;
}

.filter-tag .fa-times:hover {
  color: #f00;
}

@media screen and (min-width: 576px) {
  .main-container-wrapper .product-card {
      width: 250px;
      height: 370px;
  }

  .main-container-wrapper .product-card .product-image {
      width: 210px !important;
      height: 210px !important;
  }
}

@media screen and (max-width: 575px) {
  .main-container-wrapper .product-card {
      width: 200px;
      height: 310px;
  }

  .main-container-wrapper .product-card .product-image {
      width: 160px !important;
      height: 160px !important;
  }

  .main-container-wrapper .product-card .btn.addtocart {
      margin-top: -10px;
  }

  .main-container-wrapper .product-grid-3 {
      grid-gap: 10px !important;
  }
}

@media screen and (max-width: 449px) {
  .main-container-wrapper .product-card {
      width: 150px;
      height: 260px;
      padding: 10px !important;
  }

  .main-container-wrapper .product-card .product-image {
      width: 110px !important;
      height: 110px !important;
  }
}

.main-container-wrapper .product-card {
  /* width: 250px; */
  /* height: 360px; */
  /* background: #ddd; */
  position: relative;
  text-align: center;
  overflow: hidden;
}

.main-container-wrapper .product-card:hover {
  /* box-shadow: 0 2px 16px 4px rgba(40,44,63,.07); */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.main-container-wrapper .product-card .product-image {
  /* width: 210px !important; */
  /* height: 210px !important; */
  margin: auto;
  /* background: #000; */
  background: #fff;
  overflow: hidden;
}

.main-container-wrapper .product-card .product-image > a {
  width: 100%;
  height: 100%;
  /* background: #f00; */
  display: block;
  position: relative;
  /* text-align: center !important; */
  /* vertical-align: middle !important; */
}

.main-container-wrapper .product-card .product-image > a > img {
  /* max-width: 100% !important; */
  /* max-height: 100% !important; */
  /* min-width: auto !important; */
  /* min-height: auto !important; */
  /* width: auto !important; */
  /* height: auto !important; */

  max-width: auto !important;
  max-height: auto !important;
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto !important;
  height: auto !important;
  object-fit: cover;

  display: inline-block !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-container-wrapper .product-card .product-information {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 2px solid #ddd;
}

.main-container-wrapper .product-card:hover .product-information {
  /* border-color: #FF940A; */
}

.main-container-wrapper .product-card .product-information .product-name,
.main-container-wrapper .product-card .product-information .product-price {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: normal;
}

.main-container-wrapper .product-card .product-information .product-name a {
  /* height: 45px; */
  display: inline-block;
  /* background: #f00; */
  overflow: hidden;
}

.main-container-wrapper .product-card .product-information .product-name a > span {
  font-weight: bold !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-container-wrapper .product-card .product-information .product-price {
  height: 25px;
  /* background: #ff0; */
  overflow: hidden;
}

.main-container-wrapper .product-card .btn.addtocart {
  display: none !important;
  margin-left: auto;
  margin-right: auto;
}

.main-container-wrapper .product-card:hover .btn.addtocart {
  display: inline-block !important;
}

.main-container-wrapper .product-card .add-to-wishlist {
  position: absolute;
  top: 15px;
  /* right: 25px; */
  right: -50px;
}

.main-container-wrapper .product-card:hover .add-to-wishlist {
  right: 25px;
}

.main-container-wrapper .product-card .add-to-wishlist > span {
  font-size: 20px;
  color: #FF940A;
}

.main-container-wrapper .product-list .product-card:hover .add-to-wishlist {
  top: 5px;
  right: 15px;
}

.product-list-view > a,
.product-list-view > i,
.product-list-view > span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  background: #eee;
  overflow: hidden;
}

.product-list-view > a:hover,
.product-list-view > i:hover,
.product-list-view > span:hover {
  color: #fff;
  background: #FF940A;
}

.product-list-view > a > i,
.product-list-view > i > i,
.product-list-view > span > i {
  width: 16px;
  height: 16px;
  margin-top: 7px;
  font-size: 12px;
}

.filter-attributes-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-attributes-content .checkbox input {
  display: none;
}

.filter-attributes-content .checkbox label {
  margin-top: 3px;
  margin-right: 5px;
}

.main .category-container .layered-filter-wrapper .filter-attributes .filter-attributes-item .filter-attributes-content {
  padding-top: 5px !important;
}

.vue-slider-tooltip {
  background-color: #FF940A !important;
  border-color: #FF940A !important;
}

.layered-filter-wrapper {
  margin-right: 20px;
  border-right: 2px solid #eee;
}

@media screen and (min-width: 576px) {
  .main-container-wrapper .product-list .product-card {
      /* width: 250px; */
      height: 210px;
  }

  .main-container-wrapper .product-list .product-card .product-image {
      width: 160px !important;
      height: 160px !important;
      /* outline: 2px solid #f00; */
  }

  .main-container-wrapper .product-list .product-card .product-information {
      padding-left: 10px;
  }
}

@media screen and (max-width: 575px) {
  .main-container-wrapper .product-list .product-card {
      /* width: 200px; */
      height: 170px;
  }

  .main-container-wrapper .product-list .product-card .product-image {
      width: 130px !important;
      height: 130px !important;
      /* outline: 2px solid #ff0; */
  }

  .main-container-wrapper .product-list .product-card .product-information {
      padding-left: 20px;
  }
}

@media screen and (max-width: 449px) {
  .main-container-wrapper .product-list .product-card {
      /* width: 150px; */
      height: 130px;
      padding: 10px !important;
  }

  .main-container-wrapper .product-list .product-card .product-image {
      width: 110px !important;
      height: 110px !important;
      /* outline: 2px solid #f0f; */
  }

  .main-container-wrapper .product-list .product-card .product-information {
      padding-left: 10px;
  }
}

.product-card .sticker {
  padding: 2px 8px !important;
  font-size: 10px !important;
  font-weight: bold !important;
  z-index: 10 !important;
  box-shadow: none !important;
}

.main-container-wrapper .product-card .sticker {
  top: 20px !important;
  left: 30px !important;
}

.main-container-wrapper .product-list .product-card {
  border-bottom: 2px solid #eee;
}

.main-container-wrapper .product-list .product-card:hover {
  border-bottom-color: transparent;
}

.main-container-wrapper .product-list .product-card .sticker {
  top: 30px !important;
  left: 65px !important;
}

.main-container-wrapper .product-list .product-card .product-information {
  text-align: left;
  margin-top: 0px;
  padding-top: 0px;
  /* padding-left: 10px; */
  border-top: none;
}

.main .category-block .top-toolbar .page-info span {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .category-filter-top-mini {
      display: none !important;
  }
  .category-filter-top-maxi {
      /* display: block !important; */
  }
}

@media screen and (max-width: 767px) {
  .category-filter-top-mini {
      display: block !important;
  }
  .category-filter-top-maxi {
      /* display: none !important; */
  }

  .main .category-block .top-toolbar .page-info span:first-child {
      display: inline-block !important;
  }
}

.category-filter-top-mini {
  /* margin-top: -20px; */
  padding-bottom: 20px;
  /* background: #f00; */
}

.category-filter-top-maxi {
  /* background: #ff0; */
}

@media screen and (min-width: 767px) {
  .top-toolbar > .pagerX {
      display: block;
  }

  .top-toolbar > .pager {
      display: none;
  }
}

@media screen and (max-width: 767px) {
  .top-toolbar > .pagerX {
      display: none;
  }

  .top-toolbar > .pager {
      display: block;
  }
}

.main .top-toolbar .pager select {
  padding: 0px;
}

.sort-filter-abs {
  position: absolute;
  z-index: 5;
  top: 0px;
  right: 0px;
}

.sort-filter-abs > i {
  background: transparent !important;
}

.sort-filter-rel > i.active {
  color: #fff;
  background: #FF940A !important;
}

.seller-checkbox input {
  width: auto !important;
  height: auto !important;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

.marketplace-head:after {
  display: block;
  content: "";
  clear: both;
}

.marketplace-head > .account-heading {
  float: left;
  margin-bottom: 15px;
}

.marketplace-head > .account-action {
  /* background: #f00; */
  margin: -10px 0px 0px;
  overflow: hidden;
}

.marketplace-head > .account-action .control-group {
  width: 170px;
  float: left;
}

.account-content .account-layout{
  width: 100%;
}