body{
  background: #eee;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left;
}

.col-xs-1 {
  width: 8.333333333333332%;
}

.col-xs-2 {
  width: 16.666666666666664%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333333333%;
}

.col-xs-5 {
  width: 41.66666666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.333333333333336%;
}

.col-xs-8 {
  width: 66.66666666666666%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333333334%;
}

.col-xs-11 {
  width: 91.66666666666666%;
}

.col-xs-12 {
  width: 100%;
}

@media screen and (min-width: 992px){

}

.header-top-info{
  padding-top: 2px;
  font-size: 13px;
  overflow: hidden;
}

.header-top-info *{
  font-size: 13px;
}

.header-top-dropdown{
  /* margin-right: 20px; */
  float: left;
  /* background: red; */
}

.header-top-dropdown > li{
  display: inline;
  margin: 0px;
  padding: 0px;
  float: left;
}

.header-top-dropdown > li > a{
  height: 25px;
  line-height: 25px;
  padding: 0px 5px;
  /* padding: 0px 10px; */
  margin-top: 0px;
  /* background: #f00; */
  display: block;
}

.header-top-dropdown > li > a:hover{
  background: #ccc;
}

.header-top-dropdown > li > div > a{
  padding-left: 5px;
  padding-right: 10px;
}

.header-top-dropdown > li > div > a > span:nth-child(1){
  width: 30px;
  height: 18px;
  float: left;
  /* background-color: #ff0; */
  padding-left: 0px;
  padding-right: 0px;
}

.header-top-dropdown > li > div > a > span:nth-child(1) > .active,
.header-top-dropdown > li > div > a > span:nth-child(1) > .active *{
  color: #FF940A;
  margin-left: 5px;
  /* display: none; */
}

.header-top-dropdown a > span:nth-child(2){
  font-size: 12px;
  position: relative;
  top: -2px;
  left: -2px;
  /* float: left; */
}

.header-top-dropdown > li > a,
.header-top-dropdown > li > a > span{
  font-size: 13px;
}

.view-title {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 15px;
  left: 20px;
  /* background: #f00; */
}

.modal-title {
  line-height: 25px;
  font-size: 15px;
}

.modal-title .close {
  position: relative;
  top: 5px;
}

.modal-header{
  height: 40px;
  background: #eee;
}

.modal-header button.close{
  height: 40px !important;
  font-size: 30px;
  padding: 5px 15px !important;
  opacity: 1.0 !important;
  filter: opacity(100) !important;
  border-radius: 0px !important;
}

.modal-header .close span{
  color: #f00 !important;
  font-size: 20px;
}

.modal-header .close:hover{
  background: #f00;
}

.modal-header .close:hover span{
  color: #fff !important;
}

.modal-backdrop.fade.in {
  opacity: 0.5;
  filter: opacity(50);
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal.fade.in {
  z-index: 1052 !important;
}

.sidebar-type .navigation-mobile{
  width: 300px;
  /* left: 0px; */
  box-shadow: 0px 5px 20px rgba(0,0,0,0.4);
}

.navigation-top{
  height: 100px;
  overflow: hidden;
}

.title-line h2::before{
  z-index: 1;
}

.posla-thumbnail {
  width: 100px !important;
  height: 100px !important;
  display: inline-block;
  background: #000;
}

.wizard a {
  height: 30px;
  line-height: 12px;
  padding: 0px 12px 0px;
  margin-right: 5px;
  background: #efefef;
  position: relative;
  display: inline-block;
}
.wizard a:before {
  width: 0;
  height: 0;
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-left: 15px solid #fff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.wizard a:after {
  width: 0;
  height: 0;
  border-top: 15px inset transparent;
  border-bottom: 15px inset transparent;
  border-left: 15px solid #efefef;
  position: absolute;
  content: "";
  top: 0;
  right: -15px;
  z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}
.wizard a:first-child {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}
.wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}
.wizard a:first-child .badge {
  margin-left: 0;
}
.wizard .active {
  background: #FF940A;
}
.wizard .active,  
.wizard .active *{  
  color: #fff !important;
}
.wizard .active:after {
  border-left-color: #FF940A;
}







.navbar{
  height: 50px;
  background: #0073B1;
}

.navbar *{
  color: #fff;
}

@media screen and (max-width: 1199px){
  .layout-search{
    padding: 0px 20px;
  }
}

@media screen and (max-width: 991px){
  .layout-search{
    padding: 0px 50px;
  }
}

@media screen and (min-width: 768px){
  .navbar-brand{
    height: 38px;
  }
}

@media screen and (max-width: 767px){
  .navbar-brand{
    height: 34px;
    margin-left: 5px;
  }
}

.navbar-brand{
  display: inline-block;
}

.layout-search{
  width: 100%;
  max-width: 400px;
}

.layout-search input{
  height: 34px;
  color: #555;
  border: none;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.layout-search .btn{
  height: 34px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  /* background: #ddd !important; */
  background: #fff !important;
  border: none;
}

.layout-search .btn:hover{
  background: #FF940A !important;
}

.layout-search .btn span,
.layout-search .btn svg,
.layout-search .btn svg *{
  color: #888 !important;
}

.layout-search .btn:hover span,
.layout-search .btn:hover svg,
.layout-search .btn:hover svg *{
  color: #fff !important;
}




.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  margin-left: 10px;
  line-height: 15px;
  /* background: #f66; */
}

.navbar-nav-links-nav a{
  color: #fff !important;
  border-bottom: 1px solid transparent;
}

.navbar-nav-links-nav a:hover{
  border-bottom-color: #fff;
}

.navbar-nav-links-auth a{
  /* padding: 3px 12px !important; */
  /* border: 1px solid #fff; */
}

.navbar-nav-links-auth a:hover{
  /* color: #0073B1 !important; */
  /* background: #fff; */
}

.dropdown-menu a{
  padding: 5px 20px !important;
  border: none;
  border-bottom: 1px solid #eee !important;
}

.dropdown-menu a:hover{
  color: #333 !important;
  background: #ddd !important;
  border-color: #ddd !important;
}

.navbar-toggler{
  background: none !important;
  border: none !important;
}

.auth-modal{
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  position: fixed;
  z-index: 30;
  top: 0px;
  bottom: 0px;
  /* right: 0px; */
  right: -400px;
  background-color: #fff;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: contain;
  /* background-attachment: fixed; */
  /* background-position: 100% bottom; */
  background-position: 100% 480px;
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.2);
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.auth-modal-register{
  /* background-position: 100% 550px; */
  background-position: 100% bottom;
}

.auth-modal-close{
  width: 30px;
  height: 30px;
  line-height: 35px;
  padding: 0;
  text-align: center;
  float: right;
  position: relative;
  z-index: 32;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none !important;
}

.auth-modal-close:hover{
  background: #f66;
}

.auth-modal-close .fa-times,
.auth-modal-close .fa-times *{
  color: #f66;
  font-size: 20px;
}

.auth-modal-close:hover .fa-times,
.auth-modal-close:hover .fa-times *{
  color: #fff;
}

.auth-modal-title{
  width: 300px;
  padding-bottom: 10px;
  margin: 50px auto 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.auth-modal-title > div:nth-child(1){
  font-size: 25px;
  font-weight: bold;
  /* font-weight: 700; */
}

.auth-modal-title > div:nth-child(2){
  color: #888;
}

.auth-modal-form{
  width: 300px;
  padding: 30px;
  margin: 30px auto 0;
  background: #fff;
  border: 1px solid #ddd;
}

.input-group-password input.form-control{
  border-right: none !important;
}

.input-group-password button.input-group-btn{
  width: 40px !important;
  height: 35px !important;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  border-left: none !important;
  border: 1px solid #ccc;
  cursor: pointer;
}

.input-group-password button.input-group-btn:hover{
  background: #eee;
}

.auth-show{
  display: block !important;
}

.auth-show-default{
  right: 0 !important;
  display: block !important;
}




.main-content{
  margin-top: 30px;
  margin-bottom: 30px;
  /* background-color: #eee; */
}

.section{
  padding: 15px;
  margin-bottom: 32px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  /* overflow: hidden; */
}

.section-pagination{
  margin-top: -20px;
}

.section-title{
  font-weight: bold;
  margin-top: -5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.section-title-sm{
  /* line-height: 20px; */
  /* background-color: #f00; */
  padding-top: 5px;
  /* padding-bottom: 20px; */
}

.section-title-sm .btn{
  margin-top: -7px;
}




.posla-ad-space{
  min-height: 100px;
  margin-bottom: 30px;
  background: #fff;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  overflow: hidden;
}



.list-icon-text a{
  padding: 5px 10px;
  display: block;
  overflow: hidden;
}

.list-icon-text a:hover,
.list-icon-text a:hover *{
  color: #FF940A;
}

.list-icon-text a > div:nth-child(1){
  width: 20px;
  float: left;
}

.list-icon-text a > div:nth-child(2){
  overflow: hidden;
}

.no-after:after{
  content: "" !important;
  display: none !important;
}





.account-sidebar-info > a:nth-child(1),
.account-sidebar-info > div:nth-child(1){
  width: 150px;
  height: 150px;
  /* line-height: 100px; */
  margin: 0 auto 10px;
  text-align: center;
  display: inline-block;
  background-color: #000;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
  overflow: hidden;
}

.account-sidebar-links > div{
  border-bottom: 1px solid #eee;
}

.account-sidebar-links > div > a{
  padding: 5px 10px 5px 20px;
  display: block;
  border-left: 5px solid transparent;
}

.account-sidebar-links > div > a.active{
  border-color: #FF940A;
}

.account-sidebar-links > div > a:hover{
  background-color: #eee;
}




@media screen and (max-width: 1199px){
  .file-upload-box-container{
    text-align: center;
  }
}

.file-upload-box{
  /* width: 180px; */
  /* height: 120px; */
  /* margin-right: 10px; */
  margin-bottom: 10px;
  position: relative;
  /*background: #f00;*/
  display: inline-block;
  overflow: hidden;
}

@media screen and (min-width: 576px){
  .file-upload-box{
    width: 180px;
    height: 120px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 575px){
  .file-upload-box{
    width: 145px;
    height: 120px;
    margin-right: 0px;
  }
  .file-upload-box:nth-child(odd){
    margin-right: 15px;
  }
}

@media screen and (max-width: 435px){
  .file-upload-box:nth-child(odd){
    margin-right: 5px;
  }
}

.file-upload-box > label{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 22;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: #eee;
  cursor: pointer;
  overflow: hidden;
}

.file-upload-box > label:hover{
  background: #ddd;
}

.file-upload-box > label > div:first-child{
  margin-top: 10px;
  /* margin-bottom: 10px; */
  /*background: #f00;*/
}

.file-upload-box > label > div:first-child > span{
  color: #999;
  font-size: 30px;
}

.file-upload-box > label > div:nth-child(2){
  color: #555;
}

.file-upload-box input[type='file']{
  display: none;
}

.file-upload-box-delete{
  display: none;
}






#sidebar{
  /*width: 270px;*/
  width: 75%;
  min-width: 320px;
  max-width: 400px;
  height: 100%;
  position: fixed;
  z-index: 60;
  top: 0px;
  /* left: 0px; */
  left: -100%;
  bottom: 0px;
  background-color: #fff;
  box-shadow: 0px 10px 30px 3px rgba(0,0,0,0.3);
  overflow: auto;
  display: none;
}

#sidebar > div:first-child{
  height: 120px;
  background-color: #424875;
  /*background-image: url('../img/app/sidebar.png');*/
  /*background-size: 400%;*/
  /*background-image: url('../img/app/sidebar2.png');*/
  background-repeat: no-repeat;
  background-size: 100%;
  /*background: #111;*/
  /*box-shadow: 0px 10px 30px 3px #000;*/
  overflow: hidden;
}

#sidebar_login{
  width: 100%;
  height: 100%;
  position: relative;
  /*background: #f00;*/
  text-align: center;
  display: block;
  overflow: hidden;
}

#sidebar_login > div:first-child{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 61;
  background-image: url('../img/app/bgs/posla-admin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#sidebar_login > div:nth-child(2){
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  position: absolute;
  z-index: 62;
  /*background-color: rgba(219,68,55,0.5);*/
  /*background-color: rgba(82,135,189,0.7);*/
  background-color: rgba(32,34,49,0.7);
}

#sidebar_login > div:nth-child(2) > div:first-child{
  width: 50px;
  height: 50px;
  /*background: #fff;*/
  float: left;
  /*padding: 5px;*/
  margin-right: 10px;
  margin-top: 5px;
  /*box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.4);*/
}

#sidebar_login > div:nth-child(2) > div:nth-child(2){
  color: #fff;
  /*font-size: 17px;*/
  font-weight: 700;
  margin-top: 5px;
  text-align: left;
  overflow: hidden;
}

#sidebar_links{
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

#sidebar_links hr{
  width: 100%;
  height: 1px;
  /*background: #eee;*/
  background: #888;
  margin: 0px 0px;
  padding: 0px;
  border: none;
  outline: none;
  /*display: none;*/
}

#sidebar_links.sidebar_links_pc hr{
  margin: 5px 0px;
}

#sidebar_links ul,
#sidebar_links li{
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#sidebar_links li{
  position: relative;
}

#sidebar_links a{
  /*height: 35px;*/
  padding: 10px 0px !important;
  position: relative;
  text-decoration: none !important;
  display: block;
  /*border-left: 1px solid #0c0c0c;*/
  border-bottom: 1px solid #eee;
}

#sidebar_links a:hover{
  background: #ccc;
}

#sidebar_links.sidebar_links_pc .dropdown-submenu .dropdown-menu *{
  color: inherit !important;
  background: #fff !important;
}

#sidebar_links.sidebar_links_pc li:hover > a{
  background: #ff940a;
}

#sidebar_links.sidebar_links_pc li.dropdown-submenu .dropdown-menu li:hover *{
  color: #fff !important;
  background: #ff940a !important;
}

#sidebar_links a > span{
  /*line-height: 35px;*/
  /*color: #0f0;*/
}

#sidebar_links a > svg:first-child,
#sidebar_links a > svg:first-child *,
#sidebar_links a > span:first-child{
  width: 40px;
  /* line-height: 20px; */
  float: left;
  display: inline;
  /* padding-left: 10px; */
  margin: 4px 5px 0px 5px;
  text-align: center;
  /*background: #f00;*/
}

#sidebar_links a > span:nth-child(2){
  /*color: #f66;*/
  /*word-break: break-all;*/
  font-size: 14px;
  white-space: normal;
  /*word-wrap: break-word;*/
  display: block;
  overflow: hidden;
}

/*
#sidebar_links li:nth-child(odd) > a > span:first-child{
  color: #262262;
}

#sidebar_links li:nth-child(even) > a > span:first-child{
  color: #ff940a;
}
*/

#sidebar_links a > svg:nth-child(3),
#sidebar_links a > span:nth-child(3){
  width: 20px;
  height: 20px;
  line-height: 20px;
  /* padding-right: 15px; */
  color: #fff !important;
  /*background: #2ecc71;*/
  background: #ff940a !important;
  position: absolute;
  top: 8px;
  right: 10px;
  /* font-size: 11px; */
  /*font-weight: 700;*/
  letter-spacing: 1px;
}

#sidebar_links a > svg:nth-child(3).fa-caret-down,
#sidebar_links a > svg:nth-child(3).fa-caret-down *,
#sidebar_links a > span:nth-child(3).fa-caret-down{
  color: #333 !important;
  background: none !important;
  /* font-size: 20px; */
  margin-top: 5px;
}

#sidebar_links .dropdown .dropdown-backdrop{
  display: none !important;
}

#sidebar_links .dropdown-menu{
  /*min-width: 100%;*/
  /*height: auto;*/
  position: relative !important;
  top: auto;
  left: auto;
  /*z-index: 61;*/
  z-index: auto;
  transform: none !important;
  padding-left: 50px;
  /* margin-left: 20px; */
  float: none;
  border: none;
  background: none;
  /*border-bottom: 2px solid #ddd;*/
  box-shadow: none;
}


@media (max-width: 767px) {
  .msg-popup{
    display: none;
  }
}

/*
@media (min-width: 768px) {
  .msg-popup{
    margin-left: 60px; 
  }
}

@media (min-width: 992px) {
  .msg-popup{
    margin-left: 170px; 
  }
}

@media (min-width: 1200px) {
  .msg-popup{
    margin-left: 270px; 
  }
}
*/

.msg-popup{
  width: 300px;
  /* margin-left: -150px; */
  /* margin-left: 300px; */
  /* margin-left: 270px; */
  /* height: 300px; */
  position: fixed;
  /* left: 50%; */
  right: 0px;
  bottom: 0px;
  /* bottom: 0; */
  z-index: 20;
}

.msg-popup-header{
  padding: 10px;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.msg-popup-body{
  max-height: calc(100vh - 280px);
  /* padding: 0px 10px; */
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}